<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technologies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='header_image.png') }}" alt="Header Image">
        <img src="{{ url_for('static', filename='right_header_image.png') }}" alt="Right Header Image">
    </div>
    <div class="content">
        <h1>Technologies</h1>
        <ul class="technology-list">
            {% for technology in technologies %}
                <li><a href="{{ url_for('technology', technology=technology[0]) }}">{{ technology[0] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="footer">
        <img src="{{ url_for('static', filename='body_image.png') }}" alt="Body Image">
    </div>
</body>
</html>
